<ng-template #menu let-col>
  <div cdkMenu [formGroup]="filterForm()">
    <label class="context-menu__header-item">---- filters ----</label>
    <button cdkMenuItem *ngIf="getFilter(col) != null" (click)="setFilter(col, null)">Reset filter</button>
    <input *ngIf="!col.disableInputFilter" class="cdk-menu__input" placeholder="type to filter"
           [formControlName]="col.field" (keydown)="$event.stopPropagation()">
    @for (filter of col.filters; track filter.label) {
      <button cdkMenuItem *ngIf="getFilter(col) !== filter" (click)="setFilter(col, filter)">{{ filter.label }}</button>
    }
  </div>
</ng-template>

<table mat-table [dataSource]="dataSource" matSort>
  @for (column of columns(); track column.field) {
    <ng-container [matColumnDef]="column.field">
      <th mat-header-cell [mat-sort-header]="column.field"
          [cdkContextMenuTriggerFor]="menu"
          [cdkContextMenuTriggerData]="{ $implicit: column}"
          *matHeaderCellDef>
        {{ getTitle(column) }}
      </th>
      <td mat-cell *matCellDef="let element">
        @if (column.type === 'bool') {
          <mat-icon *ngIf="isTrue(element[column.field])">check_box</mat-icon>
        } @else {
          {{ element[column.field] }}
        }
      </td>
    </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumns()"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns();"></tr>
</table>