@use '@angular/material' as mat;
@import "./material-override.theme";
@import "./material-cdk.style";

@include mat.core();

$app-theme--dark: mat.define-theme((
    color: (
        theme-type: dark,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
    ),
    density: (
        scale: minimum,
    )
));

$app-theme--light: mat.define-theme((
    color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
    )
));

:root {
  @include mat.core-theme($app-theme--dark);
  @include mat.icon-theme($app-theme--dark);
  @include mat.menu-theme($app-theme--dark);
  @include mat.table-theme($app-theme--dark);
  @include mat.toolbar-theme($app-theme--dark);

  @media (prefers-color-scheme: light) {
    @include mat.core-color($app-theme--light);
    @include mat.icon-color($app-theme--light);
    @include mat.menu-color($app-theme--light);
    @include mat.table-color($app-theme--light);
    @include mat.toolbar-color($app-theme--light);

    @include cdk-menu-color($app-theme--light);
    @include mat-toolbar-override($app-theme--light);
  }

  @media (prefers-color-scheme: dark) {
    @include cdk-menu-color($app-theme--dark);
    @include mat-toolbar-override($app-theme--dark);
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
